name: Docker Image CI

on:
  pull_request:
    branches: [ "master" ]
  workflow_dispatch: # Manual trigger

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          # 'push: false' means it just tests the build process
          push: false
          tags: my-app:test
          # Using 'type=docker' ensures the image is loaded into the local
          # runner's docker daemon for validation
          outputs: type=docker,dest=/tmp/my-image.tar
